<nav class="nav" id="nav">
	<div id="top-nav">
		<div id="desc-area">
			<p>A Place For Everyone</p>
			<span>To Find Anything</span>
		</div>
		<div id="logo-area">
			<a href="/">
				<img src="/images/Logo.png" alt="">
			</a>
		</div>
		<div id="input-area">
			<p>Search For Games...</p>
			<input placeholder="Game Search..." type="search" name="" id="">
		</div>
	</div>
	<div id="bottom-nav">
		<ul id="nav-lists">
			<p class="sortBy">Sort By...</p>
			<a href="#" id="nav-list">Name</a>
			<a href="#" id="nav-list">Genre</a>
			<a href="#" id="nav-list">Publisher</a>
			<a href="#" id="nav-list">Date</a>
		</ul>
	</div>
	<div id="extra-nav">
		<div id="buttons">
			{% if isLogged %}
				<a href="/logout">Logout</a>
				<a href="/game/new">Post A Game</a>
			{% endif %}
			{% if not isLogged %}
				<a href="/login">Login</a>
				<a href="/register">Register</a>
				<a href="/contact">Contact Us</a>
			{% endif %}
			<a href="/users">Users</a>
		</div>
	</div>
</nav>
